/build/
*/build/
/repo/
*/repo/
/target/
/.gradle/
/.settings/
/bin/
.project
*.apk
*.zip
/src/test/resources/
/jdbcADStats/
*.mp4
stats-*
*.log
*.class
testNames/
testRetry/
StatsRetry/
StatsBackup/
StatsSite/
StaticSite/
testBk/
*.jfr
statsFixed
statsToFixHours
*.save
heap.*
/.apt_generated/
out.txt
frame*.json
Debug/
/.metadata/
/.idea/
*.key
*.txt
